* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* header Section */
.header-section {
  padding-top: 15px;
  padding-bottom: 12px;
  background-color: #80bfff;
}

header {
  text-align: center;
  height: 60px;
  margin: 0;
  padding: 0;
}

header h2, h5 {
  margin-top: 0;
  margin-bottom: 3px;
}

header h2 {
  font-size: 30px;
  padding-top: 5px;
}

/* navbar */
.navbar {
  display: flex;
  background-image: linear-gradient(#1aa3ff, #cce6ff, #80bfff);
  padding: 18px 8px 18px 8px;
}

.navbar a {
  text-decoration: none;
  font-size: 28px;
  padding-right: 15px;
  padding-top: 10px;
  margin-left: 5px;
  color: black;
}

.navbar a:hover {
  color: #ff8080;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.row {
  padding-top: 80px;
}

/* sideMenu */
.sideMenu {
  flex: 15%;
  padding: 12px 10px;
  background-color: #cce6ff;
}

.sideMenu h2 {
  text-align: center;
}

.founderImg img {
  border-radius: 6px;
  border: 3px solid #4d4d4d;
  display: flex;
  margin: auto;
}

.founderImg h3 {
  text-align: center;
}

.overlay {
  display: flex;
  position: absolute;
  top: 30%;
  left: 1.5%;
  right: 0;
  bottom: 100%;
  background-color: #3399ff;
  overflow: hidden;
  flex: 13%;
  width: 25%;
  height: 0;
  transition: .5s ease;
}

.founderImg:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  text-align: center;
  color: #ff4d4d;
}

.description a {
  text-align: center;
  color: #00cc00;
  background-color: #737373;
  padding: 5px 3px 5px 3px;
}

.description a:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  text-decoration: underline;
  ;
}

.studentInfo h3 {
  margin-bottom: 3px;
}

.studentInfo p {
  margin-top: 3px;
}

.studentImg {
  border-radius: 6px;
  border: 3px solid #4d4d4d;
  display: flex;
  margin: auto;
}

.staffLink {
  color: #00ff55;
  font-size: 18px;
  background-color: #737373;
  padding: 3px 2px 3px 2px;
}

.staffLink:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  text-decoration: underline;
  ;
}

/* mainMenu */
.mainMenu {
  flex: 70%;
  background-color: #ccddff;
}

.main-description {
  background-color: #5c85d6;
  border-radius: 15px;
  padding: 12px 8px 12px 8px;
  margin-left: 15px;
  margin-right: 15px;
}

.main-description h2 {
  text-align: center;
  line-height: 35px;
}

.main-description:hover {
  background-color: #85a3e0;
  color: #fff;
  cursor: pointer;
}

.slumVideo {
  width: 40%;
  height: 30%;
  float: right;
  padding: 15px 10px 15px 10px;
  border-radius: 50%;
  z-index: -1;
}

.vidDesc {
  padding: 12px 8px 12px 8px;
  color: #808080;
}

.slumVideo2 {
  float: left;
  width: 40%;
  height: 30%;
  padding: 15px 10px 15px 10px;
  border-radius: 50%;
  z-index: -1;
}

.teachBtn {
  display: flex;
  margin: auto;
  padding: 15px 12px 15px 12px;
  border-radius: 15px;
  font-size: 25px;
  width: 40%;
  text-align: center;
  background-color: #b3e6ff;
  color: black;
  font-weight: bolder;
  border: 2px solid black;
}

.teachBtn:hover {
  border: 6px solid black;
  width: 43%;
  font-size: 28px;
  background-color: #1a75ff;
  cursor: pointer;
}

.icon1 {
  margin-left: 15px;
}

.donate-text h2 {
  padding: 15px 12px 15px 12px;
}

.slumImg {
  width: 40%;
  height: 30%;
  float: right;
  padding: 15px 10px 15px 10px;
  border-radius: 50%;
  z-index: -1;
}

.slumImg2 {
  width: 40%;
  height: 30%;
  float: left;
  padding: 15px 10px 15px 10px;
  border-radius: 50%;
  z-index: -1;
}

.donateBtn {
  width: 45%;
  padding: 18px 15px 18px 15px;
  text-align: center;
  font-size: 28px;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: #33ccff;
  font-weight: bold;
  border: 3px solid black;
}

.donateBtn:hover {
  background-color: #80dfff;
  cursor: pointer;
  font-weight: bolder;
  width: 48%;
  border: 6px solid black;
}

/* slides */
.slideBtn span.dots {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  background-color: #cccccc;
  margin: 0 5px;
  transition: background-color 0.6s ease;
  margin: auto;
}

.slides {
  display: none;
}

.slides video {
  width: 90%;
  height: 30%;
  display: block;
  margin: auto;
  padding: 15px 12px 15px 12px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active, span.dots:hover {
  background-color: #fff;
}

/* footer */
.footer-section {
  background-color: #1a75ff;
}

.left-section {
  display: flex;
  flex: 20%;
  flex-direction: column;
  margin-left: 15px;
}

.left-section a {
  text-decoration: none;
  color: black;
}

.left-section a:hover {
  text-decoration: underline;
  color: #fff;
}

.right-section {
  display: flex;
  flex: 25%;
  margin-top: 15px;
}

.follow {
  padding-left: 15px;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 40%;
  padding: 0;
  border-radius: 8px;
}

.modal-header{
  background-color: #404040;
  font-size: 28px;
  padding: 8px 5px 8px 5px;
  color: white;
}
.modal-body{
  margin-top: 12px;
  margin-left: 8px;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus{
  cursor: pointer;
  color: black;
}
label{
  font-size: 30px;
  color: black;
  margin: auto;
  float: left;
}
input{
  margin-left: 25px;
}
input[type = "text"], input[type = "email"]{
  border-radius: 8px;
  padding: 10px 8px 10px 8px;
  font-size: 28px;
  text-align: center;
}
input[type = "submit"]{
  text-align: center;
  border-radius: 15px;
  padding: 12px 10px 12px 10px;
  background-color: #33cc33;
  color: black;
  font-size: 25px;
  margin-bottom: 8px;
}
input[type = "submit"]:hover{
  background-color: #85e085;
  cursor: pointer;
}

.teachModal{
  border-radius: 12px;
}
.teachModal-content, .donateModal-content{
  width: 100%;
  text-align: center;
  background-color: #cceeff;
  height: auto;
}
.teachModal-header, .teachModal-footer, .donateModal-header, .donateModal-footer {
  padding: 8px 5px 8px 5px;
  font-size: 28px;
  background-color: #ff3333;
}
.teach-form, .donate-form{
  box-shadow: 3px 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 100%;
  background-color: #0099ff;
  color: black;
  border-radius: 8px;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 65px;
  padding: 15px 12px 15px 12px;
}
input[type = "date"]{
  border-radius: 8px;
  padding: 10px 8px 10px 8px;
  font-size: 28px;
  text-align: center;
  margin-right: 75px;
  width: 50%;
}


#teachCollege{
  width: 50%;
}
#teachSubject, #donateSub{
  width: 50%;
}
#teachName, #donateName {
  width: 50%;
  margin-left: 55px;
}
#donateNumber{
  width: 50%;
}
#teachEmail, #donateEmail{
  width: 50%;
  margin-left: 55px;
}
.teachModal-footer.closeBtn:hover{
  cursor: pointer;
  color: black;
}
/* fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* about us */
.rightMenu{
  flex: 15%;
  background-color:  #80aaff;
  padding: 15px 8px 15px 8px;
}
.middleMenu{
  flex: 50%;
  background-color: #1a8cff;
  padding: 25px 18px 25px 18px;
}
.middleImg{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  padding: 25px 15px 25px 15px;
}
.leftmenu{
  flex: 15%;
  background-color: #80aaff;
  padding: 30px 25px 30px 25px;
}
.leftimg{
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;

}
.leftmenu.studentImg{
  width: 30%;
  height: 30%;
}
/* teach */
.leftSide{
  flex: 12%;
  background-color:  #4d94ff;
  font-size: 18px;
}
.leftSide img{
  width: 65%;
  height: 20%;
  padding: 15px 12px 15px 12px;
  border-radius: 35px;
  display: flex;
  margin: auto;
}




.middleSide{
  flex: 50%;
  background-color: #008ae6;
  font-size: 25px;
  padding: 45px 35px 45px 35px;
}
.delhiSlum img{
  width: 50%;
  height: 50%;
  padding: 15px 12px 15px 12px;
  border-radius: 45%;
  float: left;
}
.puneSlum img{
  width:50%;
  height: 40%;
  padding: 15px 12px 15px 12px;
  border-radius: 45%;
  display: flex;
  margin: auto;
}
.puneSlum h2{
  margin-top: 50%;

}
.mumbaiSlum img{
  border-radius: 25%;
  float: left;
}


.rightSide{
  flex: 13%;
  background-color:  #4d94ff;
  font-size: 18px;
}
.rightSide img{
  padding: 15px 12px 15px 12px;
  border-radius: 35px;
  width: 65%;
  height: 28%;
  display: flex;
  margin: auto;
}
